In [263]:
### GENDERCOUNT???###

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [264]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [265]:
purchase_data['SN'].nunique()

576

In [266]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [267]:
Number_of_unique_items = purchase_data['Item ID'].nunique()
Average_Price = purchase_data['Price'].mean()
Number_of_Purchases = purchase_data['Purchase ID'].nunique()
Total_Revenue = purchase_data['Price'].sum()

In [268]:
Purchasing_Analysis_dict = [{"Number of Unique Items": Number_of_unique_items, "Average Price": round(Average_Price, 2), "Number of Purchases": Number_of_Purchases, "Total Revenue": Total_Revenue}]
                

df_Purchasedata=pd.DataFrame(Purchasing_Analysis_dict)

df_Purchasedata['Average Price'] = df_Purchasedata['Average Price'].map("${:,.2f}".format)
df_Purchasedata['Total Revenue'] = df_Purchasedata['Total Revenue'].map("${:,.2f}".format)
df_Purchasedata

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [269]:
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [270]:
# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_drop = pd.read_csv(file_to_load)

purchase_data_drop.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [271]:
purchase_data_drop = purchase_data_drop.sort_values("SN", inplace=False) 
purchase_data_drop.drop_duplicates(subset="SN", inplace=False)
purchase_data_drop

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...,...
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35
141,141,Zhisrisu83,10,Male,60,Wolf,3.54
560,560,Zontibe81,21,Male,2,Verdict,2.48
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79
17,17,Zontibe81,21,Male,161,Devine,1.76

In [272]:
purchase_data_drop['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [273]:


purchase_data_drop.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [274]:
purchase_data_drop['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [275]:
purchase_data_drop['Gender'].value_counts(normalize=True)

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [276]:
gender_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/NA"],
    "Total Count": [484, 81, 11],
    "Percentage of Players": ["84.03%", "14.49%", "1.92%"]
})
gender_df

     Gender  Total Count Percentage of Players
0      Male          484                84.03%
1    Female           81                14.49%
2  Other/NA           11                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [277]:
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [278]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [279]:
purchase_data.groupby(['Gender'])

In [280]:
# # Using GroupBy in order to separate the data into fields according to "state" values
purchase_data_grouped = purchase_data.groupby(['Gender'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(purchase_data_grouped)

# In order to be visualized, a data function must be used...
purchase_data_grouped.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x121603890>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [281]:
Only_men = purchase_data.loc[purchase_data["Gender"] == "Male", :]
Only_men.count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [282]:
Men_Average_Price = Only_men['Price'].mean()
print(round(Men_Average_Price, 2))

3.02

In [283]:
Men_Total_Purchase = Only_men['Price'].sum()
print(round(Men_Total_Purchase, 2))

1967.64

In [284]:
Average_Per_Man = Men_Total_Purchase / 484
print(round(Average_Per_Man,2))

4.07

In [285]:
Only_women = purchase_data.loc[purchase_data["Gender"] == "Female", :]
Only_women.count()

Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64

In [286]:
Women_Average_Price = Only_women['Price'].mean()
print(round(Women_Average_Price, 2))

3.2

In [287]:
Women_Total_Purchase = Only_women['Price'].sum()
print(round(Women_Total_Purchase, 2))

361.94

In [288]:
Average_Per_Woman = Women_Total_Purchase / 81
print(round(Average_Per_Woman,2))

4.47

In [289]:
Only_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
Only_other.count()

Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64

In [290]:
Other_Average_Price = Only_other['Price'].mean()
print(round(Other_Average_Price, 2))

3.35

In [291]:
Other_Total_Purchase = Only_other['Price'].sum()
print(round(Other_Total_Purchase, 2))

50.19

In [292]:
Average_Per_Other = Other_Total_Purchase / 11
print(round(Average_Per_Other,2))

4.56

In [293]:
Purchasing_Analysis_Df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/NA"],
    "Purchase Count": [652, 113, 15],
    "Percentage of Players": ["84.03%", "14.49%", "1.92%"]
})
Purchasing_Analysis_Df

     Gender  Purchase Count Percentage of Players
0      Male             652                84.03%
1    Female             113                14.49%
2  Other/NA              15                 1.92%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [294]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]

group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [295]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Group"].value_counts()

20-24       365
15-19       136
25-29       101
30-34        73
35-39        41
10-14        28
Under 10     23
40+          13
Name: Age Group, dtype: int64

In [296]:
age_groups = purchase_data.groupby("Age Group")
age_groups.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,Under 10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,Under 10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,Under 10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,Under 10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,Under 10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [297]:
age_counts = age_groups["SN"].nunique()
age_counts.head()

Age Group
Under 10     17
10-14        22
15-19       107
20-24       258
25-29        77
Name: SN, dtype: int64

In [298]:
number_of_players = purchase_data["SN"].nunique()
number_of_players

576

In [299]:
percent_age = round(((age_counts/number_of_players)*100),2)
percent_age

Age Group
Under 10     2.95
10-14        3.82
15-19       18.58
20-24       44.79
25-29       13.37
30-34        9.03
35-39        5.38
40+          2.08
Name: SN, dtype: float64

In [304]:
Age_Demographics = pd.DataFrame({"Total Count": age_counts, "Percentage of Players": percent_age})
Age_Demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [301]:
purchase_count = age_groups["Purchase ID"].count()
average_purchase_price = round(age_groups["Price"].mean(),2)
total_purchase_value = age_groups["Price"].sum()
avg_total_purchase_per_person = round((total_purchase_value/age_counts),2)

In [302]:
purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_total_purchase_per_person})
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [255]:
spenders = purchase_data.groupby("SN")
purchase_count = spenders["Purchase ID"].count()
average_purchase_price = round(spenders["Price"].mean(),2)
total_purchase_value = spenders["Price"].sum()

In [258]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": average_purchase_price,
                             "Total Purchase Value":total_purchase_value})
top_spenders_sorted = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_sorted.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [182]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

In [185]:
items_grouped = items.groupby(["Item ID", "Item Name"])

In [186]:
purchase_count = items_grouped["Item ID"].count()

In [188]:
item_price = items_grouped["Price"]

In [193]:
total_purchase_value = items_grouped["Price"].sum()

In [202]:
price_per_item = total_purchase_value / purchase_count

In [206]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": price_per_item,
                                   "Total Purchase Value":total_purchase_value})

In [207]:
most_popular_items_sorted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [209]:
most_popular_items_sorted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame